<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/sucesso.css">
    
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <!-- <script src="mdCor.js" defer></script> -->
  </head>
 <body id="page-success-insert" >
    <div id="container">
        <div class="check-container">
            <img src="/images/sucess.svg" alt="Sucesso">
        </div>
        <div class="message-success">
            <h2 data-h2="Cadastro salvo!">Cadastro salvo!</h2>
            <p data-p=" Tudo certo, seu cadastro está do orphanages.<br/>
                Agora é só clica no map.">
                Tudo certo, seu cadastro está do orphanages.<br/>
                Agora é só clica no map.
            </p>
        </div>
        <div class="buttons-container">
            <a id="success" class="success" href="/orphanages">
                <img src="/images/map-marker.svg" alt="Esudar">Acessar lista
                
            </a>
        </div>
    </div>
     <script src="scripts/redirect.js"></script> 
</body>
</html>